# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# exclude everything inside these folders
uploads/*
frames/*

# exception to the rule to make sure there's always an upload folder
!uploads/.gitkeep 

# misc
.DS_Store
/uploads
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
